.main_header {
    background: #050A04;
    color: #044;
    width: 100%;
    min-height: 100%;
}

.main_header h1{
    text-align:  center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.main_footer {
    background: aquamarine;
    text-align: right;
}
.lists_header{
    text-align: center;
}
.before_footer{
    background: darkorchid;
    padding: 30px;
}