@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap");
.header {
  font-family: 'Mulish';
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 3; }
  .header__list {
    padding-right: 30px;
    font-weight: 500;
    font-size: 14px; }
    .header__list--items {
      display: flex;
      list-style-type: none; }
    .header__list--link {
      margin-right: 63px;
      text-decoration: none;
      color: #333333;
      margin-top: 15px; }
      .header__list--link:hover {
        opacity: 0.85;
        border-bottom: 1px solid #333333; }
      .header__list--link-icon {
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .header__list--link-icon:hover {
          background-color: rgba(0, 255, 0, 0.3);
          border-radius: 50%; }

.description {
  display: inline; }
  .description__image {
    margin-left: 10%; }

.description_section_one {
  display: inline-block;
  alignment: center;
  font-family: Mulish;
  margin-top: 80px; }

.description_header {
  font-family: Mulish;
  font-weight: 600;
  font-size: 40px; }

.description_text {
  font-family: Mulish;
  font-weight: 600;
  font-size: 18px;
  color: #7D7987;
  margin: 30px 0; }

.button {
  background: #458FF6;
  border-color: #458FF6;
  border-radius: 25px;
  height: 45px;
  width: 140px;
  margin: 10px 0;
  color: white; }

.illustration_img {
  max-width: 163px;
  height: auto;
  padding-right: 0; }

.text {
  margin-top: 100px;
  align-items: center;
  font-family: Mulish; }

.center_text {
  text-align: center;
  alignment: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  color: #000000; }

.secondary_text {
  text-align: center;
  alignment: center;
  font-size: 15px;
  color: #7D7987; }

.services {
  gap: 2px;
  align-content: space-between; }

.service_image {
  width: 350px;
  height: auto;
  margin: auto; }

.services_One {
  display: flex;
  flex-display: row; }

.services_Two {
  display: flex;
  flex-display: row; }

.services_frame {
  display: inline-block; }

.button_two {
  position: center;
  margin: auto;
  font-family: 'Mulish';
  background: white;
  border-color: #458FF6;
  border-radius: 25px;
  font-weight: 200;
  max-width: 200px;
  padding: 10px 40px; }
